.elf-card {
  border: 1px solid #800;
  background: #fff;
  box-shadow: 1px 1px 3px rgba( 0, 0, 0, 0.5 );
  width: 200px;
  padding: 10px;
  margin: 10px;

  .elfvatar {
    float: left;
    margin: 0 0.5em 0 0;

    img {
      display: block;
      width: 70px;
      height: 70px;
    }
  }
  .name {
    color: #800;
    margin: 0;
  }
  .address {
    display: none;
  }
  .country {
    color: #080;
  }
}